@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  } 
}

body {
  @apply sm:pb-0; /* Adjust height based on your menu size */
}

@layer components{
  .arrivals{
    @apply flex overflow-x-auto snap-x snap-mandatory scroll-smooth w-full px-4 gap-4
  }
  .signUp{
    @apply fixed bg-[url('/signUpImage.png')] bg-cover bg-center bg-no-repeat h-[100%] max-w-xl w-full px-4
  }
  .personalize{
    @apply fixed bg-[url('/BasketballTeam.png')] bg-cover bg-center bg-no-repeat h-[100%] lg:max-w-lg xl:max-w-xl w-full px-4
  }
  .setup{
    @apply bg-black flex flex-col justify-center text-white h-screen items-center gap-4 p-2 text-center
  }
  .menu{
     @apply
      p-3
      sm:p-4
      rounded-4xl
      sm:rounded-none
      fixed 
      z-70
      bottom-0
      sm:top-0
      lg:relative
      w-full 
      sm:w-auto
      sm:h-[70vh] 
      lg:h-[100vh]
  
      bg-white/15 backdrop-blur-lg backdrop-saturate-[180%]
       border-white/20 shadow-lg shadow-black/15 ring-inset ring-4 ring-white/30
    }
  .filter{
     @apply fixed w-[300px] top-0 left-1/2 bg-white z-60 transform -translate-x-1/2 p-2 h-[80vh] overflow-y-auto rounded-xl shadow-2xl 
    }
    .footerContainer{
      @apply bg-white/15 backdrop-blur-lg
    }
  
}


 @layer base{
    .navListContainer{
       @apply 
       flex 
       justify-around 
       sm:flex-col 
       sm:justify-between 
       sm:gap-5 
  
      } 

      .navList{ 
        @apply 
        flex 
        flex-col 
        sm:flex-row 
        items-center 
        justify-center 
        sm:justify-normal 
        sm:gap-3 
        relative
        text-[10px] 
        sm:text-xl 
       text-gray-500
        font-bold 
      } 

      .listText{
         @apply 
         sm:hidden
         xl:block
        } 
        .signUp-buton{
          @apply rounded-4xl text-center text-white bg-black text-[13px] font-bold border-1 px-10 py-2 cursor-pointer
        }
        .penTool{
          @apply fixed bottom-50 right-4 my-2 sm:sticky sm:bottom-30 rounded-4xl bg-black text-white w-10 h-10 flex justify-center items-center ml-auto mr-2 z-90
        }
        .categories{
          @apply flex justify-around text-gray-600 text-[15px] mt-5 
        }
        
        .productsDisplay {
          @apply grid grid-cols-2 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] gap-3 place-items-center;
        }

        .productName{
          @apply text-[12px] 
        }

        .productImage{
          @apply w-full h-full object-cover rounded-lg
        }
        .imageContainer{
          @apply relative aspect-square w-full
        }
        .favorite{
          @apply absolute top-3 right-3 bg-white rounded-full p-1 shadow-md
        }
        .genders{
          @apply flex gap-3 items-center text-[14px] text-gray-600 font-semibold mt-2 border-b-1 border-gray-600
        }
        .card{
          @apply font-bold text-[11px]
        }
        .imageCard{
          @apply w-full h-64 object-cover rounded-2xl shadow-xl transition-all duration-500 ease-in-out
        }
        .imageTransition{
          @apply flex-shrink-0 w-[80%] md:w-[60%] lg:w-[40%] snap-center transition-all duration-500 ease-in-out transform hover:scale-[1.02]
        }
        .productsPrice{
          @apply font-semibold 
        }
        .activeLinks{
          @apply border-b-2 border-gray-400
        }
        .filterText{
          @apply flex gap-4 text-[13px] font-semibold
        }
        .sort{
          @apply mt-5 border-b-1 border-gray-500 p-3
        }
        .signInInputs{
          @apply p-3 border-2 border-gray-500 rounded-lg
        }
        .passCheck{
          @apply text-[12px] text-gray-500 ml-4
        }
        .fields{
          @apply flex justify-between flex-wrap mt-5 mb-5 w-full
        }
        .message{
          @apply fixed top-4 left-1/2 transform -translate-x-1/2 bg-black text-white text-[13px] text-center px-4 py-2 rounded-md shadow-lg
        }
        .favoriteDetails {
          @apply flex justify-center flex-col fixed top-25 bottom-25 left-1/2 transform -translate-x-1/2 bg-white text-black text-[13px] px-4 py-4 rounded-2xl shadow-lg w-[90%] max-w-md z-50 transition-transform duration-900 ease-in-out;
       }
       .productDetails{
        @apply flex flex-col fixed bg-white text-black text-[13px] px-4 py-4 rounded-2xl shadow-lg w-[90%] max-w-md transition-transform duration-300 ease-in-out max-h-[85vh] overflow-y-auto left-[50%] translate-x-[-50%] top-[7.5vh] bottom-[7.5vh];
       }
      .checkoutDetails {
        @apply flex justify-center flex-col bg-white text-black text-[13px] px-4 py-4 rounded-2xl shadow-lg w-[90%] max-w-md mx-auto my-8 transition-transform duration-900 ease-in-out;
      }
       .size {
        @apply rounded border-1 border-gray-300 p-1 min-w-[200px] text-center;
       }
       .checkout{
        @apply flex flex-col justify-center items-center bg-white
       }
       .options{
        @apply flex justify-between gap-6 items-center
       }
       .cards{
        @apply rounded-4xl p-2 text-center border-1 border-gray-200 
       }
       .regularButton{
        @apply rounded-4xl text-center text-black bg-white text-[13px] font-bold border-1 px-10 py-2 cursor-pointer
        }
        .productSelect{
          @apply flex flex-col justify-center bg-black text-white gap-10 max-w-[400px] py-5 px-10 mx-auto lg:mt-8
        }
        button{
          @apply cursor-pointer
        }
        .selectionIntro{
          @apply w-[100%] font-bold text-white text-lg
        }
        .form{
          @apply max-w-[450px] mt-5 relative flex flex-col mx-auto gap-2
        }
        .formIntro{
          @apply text-2xl font-semibold text-center max-w-2xl
        }
        .suggestions {
          @apply bg-white shadow-2xl rounded p-2 w-full max-w-[500px] fixed top-17 z-10 left-0 right-0 mx-auto overflow-y-auto h-[650px]
        }


        .suggestions div {
          @apply px-4 py-3 cursor-pointer border-b border-gray-100 transition-colors last:border-b-0 ;
        }

        .suggestions div:hover {
          @apply bg-gray-100;
        }

        .suggestions p {
          @apply text-gray-800 text-sm font-medium truncate;
        }

        .suggestions div:empty {
          @apply hidden;
        }

        .userNav{
          @apply  flex justify-around items-center ;
        }

        .userNav p {
          @apply text-sm font-bold;
        }

        .details{
          @apply flex flex-col justify-between gap-5 ;
        }

        .review{
          @apply text-[14px] text-gray-400;
        }

        .postMedia{
          @apply bg-blue-500 rounded-2xl text-center text-white text-sm px-2 py-1 w-25
        }

        .textField{
          @apply outline-0
        }

        .bar{
          @apply absolute top-[-10px] right-1 text-xl font-semibold sm:hidden bg-white rounded-2xl
        }

        .menuBar{
          @apply fixed bottom-40 right-6 rounded-4xl bg-black text-white w-10 h-10 flex justify-center items-center z-10
        }

        .signUp-buton:disabled {
          @apply cursor-not-allowed;
        }

        .userPosts{
          @apply flex flex-col gap-12
        }

        .postText{
          @apply font-semibold text-sm
        }

       }
       
       



