@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  } 
}

@layer components{
  .arrivals{
    @apply flex overflow-x-auto snap-x snap-mandatory scroll-smooth w-full px-4 gap-4
  }
  .signUp{
    @apply fixed bg-[url('/signUpImage.png')] bg-cover bg-center bg-no-repeat h-[100%] max-w-xl w-full px-4
  }
}
 @layer base{
   .menu{
     @apply
      p-3
      sm:p-4
      rounded-4xl
      sm:rounded-none
      fixed 
      bottom-3 
      sm:left-0 
      w-full 
      sm:w-auto 
      sm:h-[100vh] 
      mt-10 
      bg-white/15 backdrop-blur-lg backdrop-saturate-[180%]
       border-white/20 shadow-lg shadow-black/15 ring-inset ring-4 ring-white/30
    } 
    .navListContainer{
       @apply 
       flex 
       justify-around 
       sm:flex-col 
       sm:justify-between 
       sm:gap-5 
  
      } 
      .navList{ 
        @apply 
        flex 
        flex-col 
        sm:flex-row 
        items-center 
        justify-center 
        sm:justify-normal 
        sm:gap-3 
        text-[10px] 
        sm:text-xl 
       text-gray-500
        font-bold 
      } 
      .listText{
         @apply 
         sm:hidden
         lg:block
        } 
        .signUp-buton{
          @apply rounded-4xl text-center text-black bg-white text-[13px] font-bold border-1 px-10 py-2 cursor-pointer
        }
        .signUp-buton:hover{
          @apply bg-black text-white
        }
        .penTool{
          @apply sticky bottom-30 rounded-4xl bg-black text-white w-10 h-10 flex justify-center items-center 
        }
        .categories{
          @apply flex justify-around text-gray-600 text-[15px] mt-5 
        }
        
        .productsDisplay {
          @apply grid grid-cols-2 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] gap-3 place-items-center;
        }

        .productName{
          @apply text-[12px]
        }

        .productImage{
          @apply w-full h-full object-cover rounded-lg
        }
        .imageContainer{
          @apply relative aspect-square w-full
        }
        .favorite{
          @apply absolute top-3 right-3 bg-white rounded-full p-1 shadow-md
        }
        .genders{
          @apply flex gap-3 items-center text-[14px] text-gray-600 font-semibold mt-2 border-b-1 border-gray-600
        }
        .cards{
          @apply font-bold text-[11px]
        }
        .imageCard{
          @apply w-full h-64 object-cover rounded-2xl shadow-xl transition-all duration-500 ease-in-out
        }
        .imageTransition{
          @apply flex-shrink-0 w-[80%] md:w-[60%] lg:w-[40%] snap-center transition-all duration-500 ease-in-out transform hover:scale-[1.02]
        }
        .productsPrice{
          @apply font-semibold productName
        }
      }

